<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px">
  <section>
      <h1>“Success usually comes to those who are too busy to be looking for it.”</h1>
      <p>-Henry David</p>
  </section>
  <section>
      <h1>“The last three or four reps is what makes the muscle grow. This area of pain divides a champion from someone who is not a champion.”</h1>
      <p>-Arnold Schwarzenegger</p>
  </section>
  <section>
      <h1>“What hurts today makes you stronger tomorrow.”</h1>
      <p>-Jay Cutler</p>
  </section>
  <section>
      <h1>“You have to think it before you can do it. The mind is what makes it all possible.”</h1>
      <p>-Kai Greene</p>
  </section>
</div>